@font-face{
  font-family: myfont;
  src:url('./Font/CircularStd.ttf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: myfont;
}

body{
   background-color: #f6f6f8;
}

.App{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.page{
  min-height: 100vh;
  display: flex;
}

.mainpage{
  display: flex;
  flex-direction: column;
} 

 nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;

}

nav h1, nav li{
  cursor: pointer;
}

.mainbutton{
  width: 150px;
  height: 35px;
  cursor: pointer;
  background-color: #f0544c;
  color: #ffff;
  border: none;
}


.mainbtn{
  width: 293px;
  height: 40px;
   cursor: pointer;
   margin:10px; 
  background-color: #f0544c;
  color: #ffff;
  border: none;
}

.mainbutton:hover{
  background-color:#ffff ;
  color: #f0544c ;
}



.upperlinks{
  display: flex;
  flex-direction: row;
  list-style: none;
}

.upperlinks li{
  margin: 20px;
}

.main{
  display: flex;
  flex-direction: row;
  max-width: 90%;
  margin: auto;
}


.main .imagebox{
  display: flex;
  max-width: 45%;
}

.main .textbox{
  display: flex;
  flex-direction: column;
  max-width: 45%;
  margin-top: 10%;
  margin-left: 10%;
}

.main .textbox h1{
  margin-bottom:  20px;
}

.main .textbox ul{
  list-style: none;
}

.main .textbox ul li{
  margin: 15px;
}

.main .textbox ul li i{
  color: grey;
  margin-left: 10px;
  opacity: 0.6;
}

.user{
  width: 80%;
  height: 30vh;
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.user img{
  width: 100px;
  height: 100px;
}

.usertxt{
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.usertxt p,h3{
  margin: 10px;
}

.second{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
} 

.second h1{
  margin: 10px;
}

.second p{
  margin: 5px;
  color: #696871;
}

.box{
  width: 70%;
  height: 270px;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.one{
  width:150px;
  height:150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eae9f2;
}

.one h1{
  font-size: 3em;
  color: #413e65;
}

.datas{
  width: 50%;
  margin: 60px;
}

.cardssecond{
  display: flex;
  flex-direction: row;
  max-width: 70%;
}

.secondcards{
  width: 300px;
  height: 300px;
  margin: 20px;
  text-align: center;
}

.fonticon{
  color: blue;
}

.thirdpage{
  width: 100%;
  text-align: center;
}


.thirdpage p{
  margin: 20px;
    color: #696871;
}

.container{
  max-width: 75%;
  display: flex;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.smallbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 315px;
  height: 80px;
  margin: 8px;
  padding: 15px 27px 17px 17px;
  border-radius: 9px;
  border: solid 0.9px #eae9f2;
  background-color:#ffff;
}

.smallbox h1 i{
  color: blue;
}

.smallbox:hover{
  transition: 0.5s;
  transform: translate3d(20px,10px,10px);
  border:2px solid grey;
  box-shadow: 2px 5px 10px grey;
  color: red;
} 

.bluecont {
  display: flex;
  flex-direction: row;
  max-width: 75%;
  border-radius: 9px;
  margin: auto;
  background-color: #413e65;
  color: #fff;
}

.bluecont img{
   width: 122px;
  height: 121px;
  margin: 10px;
}

.bluecont .bluetxt{
  margin-left: 20px;
  margin-top: 20px;
}

.bluetxt p{
  color:grey;
}

.bluecont .thirdbtn{
  width: 150px;
  height: 35px;
  margin-left: 100px;
  margin-top: 40px;
  background-color: #f0544c;
  color: #ffff;
  border: none;
}

.bluecont .thirdbtn:hover{
  background-color: #ffff;
  color:#f0544c;

} 

.reviews{
  min-height: 70vh;
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.reviews p{
  color: #696871;
}

.reviewcard{
  max-width: 80%;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.rcard{
  width: 300px;
  height: 300px;
  background-color: #ffffff;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
}

.rcard h4{
  color: #f04037;
}

.rcard p{
  max-width: 70%;
  letter-spacing: 2px;
  color: #19191b;
}

.rcard img{
  width: 39px;
  height: 39px;
  margin-left: 10px;
}

.ruser{
  display: flex;
  flex-direction: row;

}

.rname{
  display: flex;
  flex-direction: column;
  margin-top: -12px;
  margin-left: 10px;
}

.author{
  display: flex;
  flex-direction: column;
  max-width: 60%;
  margin: auto;
  margin-top: 75px;
}

.author .authordata{
  display: flex;
  flex-direction: row;
  margin: 40px;
}

.authordata img{
  width: 244px;
  height: 244px;
}

.authortxt{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
}

.author h1, .author h5{
  margin: 10px;
}


.authortxt p{
  color: #696871;
  margin: 3px;
}

.price{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #413e65;
  color: #fff;
}

.price h1{
  margin: 20px;
}

.price p{
  text-align: center;
  margin: 10px;
}

.priceCards{
  display: flex;
  flex-direction: row;
  max-width: 70%;
  margin: auto;
}

.pricecard{
  width: 315px;
  height: 350px;
  background-color: #ffff;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  text-align: center;
}

.pricecard h5{
  color: #5454d4;
  margin-top: 40px;
}

.pricecard h6{
  color: #5454d4;
  margin-top: -60px;
}

.pricecard input{
  max-width: 80%;
  margin: auto;
  height: 40px;
  border: none;
  background-color: #f7f7fb;
  text-align: center;
}

.pricebtn{
  max-width: 90%;
  height: 40px;
  border: none;
  cursor: pointer;
  margin: 10px;
  color: #ffff;
  background-color: #c31a12;
}

.pricebtn:hover{
  background-color: #3d3dad;
  color:#ffff;
}


.pricetxt{
  max-width: 65%;
  display: flex;
  flex-direction: row;
  flex-basis: row;
  flex-wrap: nowrap;
}

.pricetxtdata{
  width: 450px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90%;

}

.pricetxtdata p{
  color: rgba(255, 255, 255, 0.7);
}

.priceflex{
  display: flex;
  flex-direction: column;
}

.footerpage{
  display: flex;
  max-width: 90%;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.footerhalf{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px;
}

.footermain p{
  color: #696871;
}

.footmybtn{
  width: 160px;
  height: 35px;
  margin-left: 200px;
  margin-top: 30px;
  background-color:#f0544c ;
  color: #ffff;
  border: none;
  cursor: pointer;
}

.footerhalf .footermain{
  margin: 20px;
}

.footerpage nav{
   display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
}

.another {
  display: flex;
  max-width: 80%;
  margin: auto;
}

.cards{
  display: flex;
  flex-direction: column;
  min-height: 20vh;
  width: 300px;
  justify-content: space-around;
  align-items: center;
  margin: 80px;
  word-wrap: break-word;
}

.cards h1{
  color: #5454d4;

}

.cards p{
  text-align: center;
  color: #696871;
}

@media screen and (max-width: 991px) {

    body{
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    nav{
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
          }

    .main{
      display: flex;
      flex-direction: column;
      max-width: 95%;
      margin: auto;
    }

    .main .imagebox img{
      width: 400px;
      height: 300px;
      margin: auto;
      text-align: center;
    }

    .main .textbox{
      max-width: 80%;
      margin: auto;
    }

    .user{
      max-width: 80%;
      margin: auto;
    }

    .second .box{
      display: flex;
      flex-direction: column;
      height: 550px;
    }

    .cardssecond{
      max-width: 80%;
      display: flex;
      flex-direction: column;
    }

    .cardssecond .secondcards{
      height: 200px;
      margin: 10px;
    }

    .container {
      max-width: 90%;
      margin: auto;
    }

    .container .smallbox{
      max-width: 80%;
      margin: 20px;
      margin: auto;
    }
 
    .bluecont{
      display: flex;
      flex-direction: column;
    }

    .bluecont img{
      margin: auto;
    }

    .another{
      display: flex;
      flex-direction: column;
      max-width: 90%;
      margin: auto;
    }

    .another .cards{
      width: auto;
      height: 100px;
      margin: 10px;
    }

    .reviews .reviewcard{
      display: flex;
      flex-direction: column;

    }

     .reviews .reviewcard .rcard{
      display: flex;
      flex-direction: column;
      align-items: center;
        text-align: center;
     }

     .author{
      max-width: 95%;
      margin: auto;
     }

     .author .authordata{
      display: flex;
      flex-direction: column;
     }

     .authordata img{
      margin: auto;
     }

     .authordata .authortxt{
        max-width: 100%;
     }

     .priceCards{
      display: flex;
      flex-direction: column;
     }

     .pricetxt{
      max-width: 90%;
      margin: auto;
      display: flex;
      flex-direction: column;
     }

     .footerpage{
      max-width: 95%;
      margin: auto;
     }

     .footerpage .footerhalf{
      display: flex;
      flex-direction: column;
     }

     .footerhalf .footmybtn{
      margin: auto;
     }


  }